<div class="modal-header modal-movieLibrary-header">
              <!-- <form method="get" action="/movieShow"> -->
                <a data-toggle='tooltip' data-placement='top' title='' class="modal-title" id="movieLibrary-modal-movieTitle"></a>
              <!-- </form> -->
              
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-4">
                  <img id="movieLibrary-modal-movieImage" src="" alt="" srcset="" style="width: 15rem;height: 25rem;">
                </div>
                <div class="col-sm-8 modal-plot" style="max-width: 60rem; max-height:25rem">
                  <p id="movieLibrary-modal-moviePlot" style="color:white;font-size: 1.5rem;">
                  </p>
                </div>
              </div>
            </div>
            <div class="modal-footer movieLibrary-modal-footer">
              <button type="button" class="btn btn-secondary modal-close-btn" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>