<footer class="footer" style="height: 6rem;background-color:black;">
    <div class="container"  style="color:#FF0012; font-size:2rem;text-align: center;">
        <span>Copyright @Shivam Singhal</span>
    </div>
</footer>