<a href="/"><img src="images/logo.png" alt="" srcset="" style="margin-left: 6rem;margin-top: 1rem;width: 10rem;height: 10rem;"></a>
<div style="float: right;margin-top: 3.5rem;">
    <form id="search-index-form" method="GET" action="/search" class="form-inline">
        <div class="form-group">
            <input name="movieName" type="text" class="form-control" id="home-movie-search" placeholder="Search Movie" size="40">
        </div>
        <button id="search-movie-button" type="submit" class="btn" style="margin-right: 6rem;">Search</button>
    </form>
</div>
